.b {
  background-color: #028482;
  color: white;
  border-radius: 100px;
  border-style: none;
  width: 100%;
  padding: 0.5em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group {
  margin-bottom: 1em;
}

.form-group input {
  border-radius: 30em;
  padding-left: 2em;
}
/* login styles */

.button {
  background-color: #028482;
  border-radius: 100px;
  color: white;
  border-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  height: 100%;
}

.loginContainer {
  display: flex;
  min-height: 100vh;
  background-color: #ccdfe0;
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* transform: "translate(-50%, -50%)"; */
}

.display-1 {
  color: #028482;
}

.box-input {
  margin-top: 1em;
  width: 80%;
  border: transparent;
}

/* ------End-------------*/

/* side navigation styles */

.sideBar-Container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  background-color: #028482;
}

.sideBar-Sections {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.light-text {
  color: white;
}

.sideBar-Sections-UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sideBar-Sections-Nav {
  margin-top: 4em;
  display: flex;

  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.nav-item {
  text-decoration: none;
}

.sideBar-Sections-Nav-Item {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}
.rightspcae-2 {
  padding-left: 1em;
}

/* ------End-------------*/

/* dashboard styles */

.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard-sideBar {
  /* width: 400px; */
  /* opacity: 0.5; */
  flex-grow: 1;
}

.dashboard-main-routes {
  display: flex;
  min-height: 100vh;
  flex-grow: 12;

  display: flex;
  justify-content: center;
  align-items: stretch;
  /* opacity: 0.5; */
}

/* ------End-------------*/

/* findResident styles */

.findResident-Container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ccdfe0;
}

.findResident-Container-searchSection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.findResident-Container-searchSection-item {
  padding: 0.5em;
  flex-grow: 1;
}

.findResident-Container-resultSection {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findResident-Container-resultSection-Action {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10em;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.findResident-Container-resultSection-Action-cases {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.findResident-Container-resultSection-Action-Found-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 2em;
}

.findResident-Container-resultSection-Action-Found-userFound-b {
  margin-left: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.primary {
  color: #028482;
}

/* ------End-------------*/

.App-link {
  color: #61dafb;
}
