.b {
  background-color: #028482;
  color: white;
  border-radius: 100px;
  border-style: none;
  width: 100%;
  padding: 0.5em;
}
/* Date--ere*/
.date {
  align-items: flex-start;
  margin-top: -15px;
  width : 80%
}
.date-label {
  color: #028482;
  margin-bottom: 8px;
}
.date-container {
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
}
.date-item {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: .3em;
  padding-right: .3em;
}

/* --------------------*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group {
  margin-bottom: 1em;
  flex-grow: 1;
}

.form-group input {
  border-radius: 30em;
  padding-left: 2em;
}

.form-group select {
  border-radius: 30em;
  padding-left: 2em;
}

/* login styles */

.button {
  background-color: #028482;
  border-radius: 100px;
  color: white;
  border-style: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  height: 100%;
}

.loginContainer {
  display: flex;
  min-height: 100vh;
  background-color: #ccdfe0;
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* transform: "translate(-50%, -50%)"; */
}

.display-1 {
  color: #028482;
}

.box-input {
  margin-top: 1em;
  width: 40%;
  border: transparent;
}

/* ------End-------------*/

/* side navigation styles */

.sideBar-Container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* min-height: 100vh; */
  background-color: #028482;
  flex-grow: 1;
}

.sideBar-Sections {
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-grow: 1;
}

.light-text {
  color: white;
}

.sideBar-Sections-UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sideBar-Sections-Nav {
  margin-top: 4em;
  display: flex;

  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.nav-item {
  text-decoration: none;
}

.sideBar-Sections-Nav-Item {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}
.rightspcae-2 {
  padding-left: 1em;
}

/* ------End-------------*/

/* dashboard styles */

.dashboard {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: stretch;
}

.dashboard-sideBar {
  display: flex;
  flex-grow: 1;
}

.dashboard-main-routes {
  display: flex;
  min-height: 100vh;
  flex-grow: 12;

  display: flex;
  justify-content: center;
  align-items: stretch;
  /* opacity: 0.5; */
}

/* ------End-------------*/

/* findResident styles */

.findResident-Container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ccdfe0;
}

.findResident-Container-searchSection {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.findResident-Container-searchSection-item {
  padding: 0.5em;
  flex-grow: 1;
}

.findResident-Container-resultSection {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.findResident-Container-resultSection-Action {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10em;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.findResident-Container-resultSection-Action-cases {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.findResident-Container-resultSection-Action-Found-text {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  /* padding-left: 2em; */
  align-items: center;
}

.findResident-Container-resultSection-Action-Found-userFound-b {
  margin-left: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.findResident-Container-data{
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findResident-Container-data-Item{
  margin-top: 0.5em;
  padding: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 1em;
  justify-content: space-between;
}

.findResident-Container-data-Item-ind{
  display: flex;
  /* flex-grow: 1; */
  max-width: 13em;
}
.resident-button{
  background-color: #028482;
  border-radius: 100px;
  color: white;
  border-style: none;
  width: 10em;
  height: 2em;
}
.flexEnd{
  justify-content: flex-end;
  align-items: flex-end;
}
.primary {
  color: #028482;
}

/* ------End-------------*/

/* createResident Message styles */

.Submitting-message {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: flex-start;
  /* max-width: 600px; */
  margin-top: 200px;
  padding-bottom: 100px;
}

/* ------End-------------*/

/* createResident styles */

.createResident-Container {
  padding: 3em;
  padding-top: 2em;
  background-color: #ccdfe0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.createResident-Container-headSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.CreateForm-Session-Counter {
  background-color: #028482;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  padding-right: 3em;
  padding-left: 3em;
}

.createResident-Container-formSection {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.createResident-Container-formSection-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 86px;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* background-color: lightgreen; */
}

.createResident-Container-formSection-rowItem {
  display: flex;
  padding-right: 2em;
  align-items: center;
  /* justify-content: center; */
  justify-content: flex-start;
  /* background-color: lightgreen; */
}
.createResident-Container-formSection-rowItem-pagination {
  display: flex;
  align-items: center;
}
.createResident-Container-endSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createResident-Container-formSection-rowItem-nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  /* margin-right: 10em; */
}

.formSection-rowItem-nextButton {
  margin-left: 1em;
  margin-right: 1em;
  width: 170px;
}
.form-pagination {
  margin-top: 1em;
}

.inputLabel {
  padding-bottom: 0.5em;
  color: #028482;
}

.form-check {
  display: flex;
  justify-content: center;
}

.form-check-input {
  padding: 15px;
}

.form-check-label {
  padding-left: 1em;
  padding-top: 0.4em;
  color: #028482;
}

.checkbox {
  min-width: 200px;
}

/* ------End-------------*/


/* updateResident styles */

.updateResident-Container{
  padding: 1em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ccdfe0;
}

.updateResident-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

/* ------End-------------*/


/* reports styles */

.reports-Container{
  padding: 1em;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ccdfe0;
}

.reports-Container-Section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.report-button{
  margin-left: 1em;
  margin-right: 1em;
  width: 170px;
}
.reports-csv-button{
  display: flex;
  align-items: center;
  justify-content :center;
  margin-top: 1em;
}

.reports-Container-Section-Individual {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  flex-grow: 1;
  margin: 0.6em;
  border-radius: 1em;
}

.reports-Container-Section-Individual-Text{
  padding-bottom: 1.5em;
}

/* ------End-------------*/

/* ------MultiSection-------------*/
.multiItem-container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding-top: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center; */
}
.multiItem-container-Items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  /* max-width: 800px; */
  min-width: 900px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  flex-direction: column;
}

.noItems {
  padding-top: 4em;
  padding-bottom: 4em;
  color: lightslategray;
}

.dataItems-Container {
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #028482;
  min-width: 750px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 0.5em;
  margin-bottom: 1em;
}

.cancelbutton {
  background-color: #028482;
  border-radius: 100px;
  color: white;
  border-style: none;
  padding-bottom: 0.4em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  width: 35px;
}



/* ------Yes No Button-------------*/
.yesNo-container {
  display: flex;
  min-width: 220px;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: column;
}

.yesNo-container-options {
  display: flex;
}

.yesNo-container-options-item-unselected {
  display: flex;
  background-color: white;
  /* padding-left: 1em; */
  width: 5em;
  height: 3em;
  justify-content: center;
  align-items: center;
  color: grey;
  border-radius: 1em;
  cursor: pointer;
  margin: 0.5em;
}

.yesNo-container-options-item-selected {
  display: flex;
  background-color: #028482;
  /* padding-left: 1em; */
  width: 5em;
  height: 3em;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1em;
  cursor: pointer;
  margin: 0.5em;
}

/* ------End-------------*/

/* -------Simple Form ---------*/

.simpleForm-Container-formSection {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.simpleForm-Container-endSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}


/* ------End-------------*/

.App-link {
  color: #61dafb;
}

/* Flex grow items */

.grow1 {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 2;
}
.grow3 {
  flex-grow: 3;
}

.nowrap {
  flex-wrap: nowrap;
}
